<body>
  <div class="landingBackground">
    <div class="header">
      <h1 class="fw-bold display-3">GAMER SPACE</h1>
      <p class="lead">Your Game, Your Space. We have it for you.</p>
    </div>
    <div class="sub-head">
      <h1 class="fw-bold display-5">About Us</h1>
      <p class="lead">Our mission, vision and objectives.</p>
    </div>
    <div class="row">
      <div class="column">
        <div class="card">
          <h1>Mission</h1>
          <p>We strive to offer our customers the best quality gaming products at the most affordable price possible.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <h1>Vision</h1>
          <p>To be the most recognized company in Colombia and the most reliable in quality of products for gamers.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <h1>Obective</h1>
          <p>To offer the most reliabale and high quality products for gamers, to improve an expand the gamer
            industry.
          </p>
        </div>
      </div>
    </div>
    <a [routerLink]="['/login']"><p>Join Us</p></a>
  </div>
</body>
