<body>
  <app-navigation-bar></app-navigation-bar>
  <div class="sub-head">
    <h1 class="fw-bold display-5">Products For You</h1>
  </div>
  <div class="row">
    <div *ngFor="let product of products; let i = index" class="column">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="product.photoPath" alt="Product image">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text" *ngIf="product.description.length > 26; else defaultDescription">
            {{product.description.substring(0,26)}} ...</p>
          <ng-template class="card-text" #defaultDescription>
            <p>{{product.description}}</p>
          </ng-template>
          <h5 class="card-title">$ {{product.price}} COP</h5>
          <p class="card-text">Stock: {{product.stock}}</p>
          <button type="button" (click)="open(purchasesModal, product.productId)" class="btn btn-primary">Add to Cart</button>
          <a type="button" [routerLink]="['/products/view', product.productId]" class="btn btn-primary">View Product</a>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation" style="padding-top: 3%;">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <button class="page-link" (click)="changePage(-1, false)">Prev</button>
      </li>
      <li *ngFor="let i of totalPages" class="page-item" [class.active]="(page+1)==i"><button class="page-link" (click)="changePage(i, true)">{{i}}</button></li>
      <li class="page-item">
        <button class="page-link" (click)="changePage(1, false)">Next</button>
      </li>
    </ul>
  </nav>
  <!-- Modal to confirm a purchase -->
  <ng-template #purchasesModal let-c="close" let-d="dismiss">
    <!-- Modal -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm your product</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
      </div>
      <div class="modal-body">
        <p>Please confirm your product and select the quantity.</p>
        <p>Quantity Selected: {{quantity}}</p>
        <p>Total Price: $ {{productToAdd.price*quantity}} COP</p>
        <input *ngIf="productToAdd.stock > 0" type="range" class="form-range" min="1" [max]="productToAdd.stock" [(ngModel)]="quantity">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-modal" (click)="addToCart()">Confirm</button>
        <button type="button" class="btn btn-danger btn-modal" (click)="d('Cross click')">Cancel</button>
      </div>
    </div>
  </ng-template>
</body>
